
.join{
    width: 110px;
    border: 2px solid rgb(72,151,190);
    background-color: rgb(29,149,203);
    color: rgb(183,247,255);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.001px;
    margin: 10px;
}
.setting{
    width: 110px;
    border: 2px solid rgb(125,159,162);
    background-color: rgb(106,151,161);
    color: rgb(218,254,255);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.001px;
    margin: 10px;
}
.login{
    width: 110px;
    border: 2px solid rgb(214,159,66);
    background-color: rgb(248,160,36);
    color: rgb(255,229,164);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.001px;
    margin: 10px;
}
.contact{
    width: 110px;
    border: 2px solid rgb(167,95,97);
    background-color: rgb(212,58,60);
    color: rgb(255,206,205);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.001px;
    margin: 10px;
}
.search{
    width: 110px;
    border: 2px solid rgb(153,195,81);
    background-color: rgb(121,171,62);
    color: rgb(208,233,187);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.001px;
    margin: 10px;
}
.help{
    width: 110px;
    border: 2px solid rgb(110,110,162);
    background-color: rgb(99,96,161);
    color: rgb(213,214,233);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.001px;
    margin: 10px;
}
.home{
    width: 110px;
    border: 2px solid rgb(170,77,120);
    background-color: rgb(233,74,144);
    color: rgb(202,255,255);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.001px;
    margin: 10px;
}
.download{
    width: 110px;
    border: 2px solid rgb(133,119,68);
    background-color: rgb(158,124,65);
    color: rgb(200,182,155);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.001px;
    margin: 10px;
}